body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#welcome h1{
	text-align:center;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f1d3e;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menu li a:hover {
    background-color: #1e3a7b;
}
/*  END OF INDEX AND ALL PAGES  */


/*  DISPLAY PAGE CSS  */
#display {
	background-color:#0f1d3e;
}

#display h1{
	color: #ffffff;
}

#nowServing{
	background-color:#1e3a7b;
	padding: 5px 20px;
}

#OrderServing{
	padding-top: 2%;
	padding-left:20px;
}



.order{
	font-size: 8em;
	text-align:center;
	color:#ffffff;
	width: 20%;
	padding: 5px 20px;
	border: #ffffff solid 5px;
	border-radius: 5px;
	background-color: #1e3a7b;
    -webkit-animation-name: orderOrangeFlash; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
    animation-name: orderOrangeFlash;
    animation-duration: 12s;
    animation-delay: 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes orderOrangeFlash {
    0%   {background-color: #1e3a7b; color: #ffffff;}
    25%  {background-color: #ff9900; color: #000;}
    50%  {background-color: #1e3a7b; color: #ffffff;}
    75%  {background-color: #ff9900; color: #000;}
    100% {background-color: #1e3a7b; color: #ffffff;}
	}

/* Standard syntax */
@keyframes orderOrangeFlash {
    0%   {background-color: #1e3a7b; color: #ffffff;}
    25%  {background-color: #ff9900; color: #000;}
    50%  {background-color: #1e3a7b; color: #ffffff;}
    75%  {background-color: #ff9900; color: #000;}
    100% {background-color: #1e3a7b; color: #ffffff;}
}
